*{
    margin: 0;
    padding: 0;
    font-family: "楷体";
}
html::-webkit-scrollbar{ overflow-y: hidden; }   /*清除浏览器的侧边滚动条*/
.top{
    width: 100%;
    height: 500px;
    background-image: url(../img/snow.jpg);
    background-size: 100% 100%;
}
.top>h1{
    width: 550px;
    padding-top: 170px;
    margin: 0 auto;
    color: black;
}
.nav_position{
    width: 100%;
    margin: 0 auto;
    box-shadow: gray 4px 4px 4px;
}
.nav{
    width: 50%;
    height: 60px;
    margin: 0 auto;
	list-style-type: none;
}
.nav>li{
    width: 100px;
    text-align: center;
    height: 60px;
    float: left;
    margin-left: 40px;
    line-height: 60px;
}
.nav>li>a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.nav>li:hover a{
    color: gold;
}
.nav_position>span>button{
    float: right;
    margin-top: -50px;
    font-size: 30px;
    margin-right: 50px;
    border: none;
    background-color: white;
}
.active{
    background-color: #2691cf;
}
.main{
    width: 100%;
    height: 1950px;
    background: url(../img/001.png);
}
.position{
    width: 80%;
    height: 1200px;
    margin-left: 10%;
    padding-top: 20px;
}
.left{
    width: 72%;
    height: 1800px;
    float: left;
}
.right{
    width: 26%;
    height: 1600px;
    float: left;
    margin-left: 2%;
}
.imgBox{
/* 	border-top: 2px solid cadetblue; */
    width: 100%;
    height: 380px;
    margin: 0 auto;
    /* margin-bottom: 20px; */
  }
.imgBox img{
    width: 100%;
    height: 380px;
   /* margin: 0 auto; */
}
.img1{
    display: block;
}
.img2{
    display: none;
}
.div1{
    width: 100%;
    height: 37px;
    margin-top: 30px;
    background-color: white;
    color: black;
}
.new{
    height: 37px;
    background-color: gray;
    color: white;
    width: 120px;
}
.new h3{
    padding-top: 7px;
    margin: 20px;
}
.div2{
    width: 100%;
    height: 150px;
    background-color: white;
    color: black;
    margin-top: 20px;
}
.left2{
    width: 20%;
    height: 140px;
    float: left;
}
.left2 img{
    width: 100%;
    height: 150px;
}
.right2{
    width: 75%;
    height: 150px;
    float: left;
    margin-left: 2%;
}
.right2 a{
    text-decoration: none;
}
.right2 h2{
    font-size: 26px;
    color: black;
}
.right2 p{
    color: gray;
    font-size: 14px;
}
.right3 a{
    text-decoration: none;
}
.right3 h2{
    font-size: 26px;
    color: black;
    padding-left: 10px;
}
.right3 p{
    color: gray;
    font-size: 14px;
    text-indent: 2rem;
    padding-left: 5px;
}
.p1{
    margin-top: 10px;
    color: black;
    line-height: 25px;
    text-indent: 2rem;
}
.div3{
    width: 100%;
    height: 100px;
    background-color: white;
}
.div3 ul{
    width: 100%;
    height: 100px;
    list-style-type: none;
    
}
.div3 li{
    clear: black;
    line-height: 25px;
    margin-left: 15px;
    
}
.div3 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.div3 a:hover li{
    color: #2CC0C8;
}
.div4{
    width: 100%;
    height: 200px;
    background-color: white;
}
.div4 p{
    line-height: 50px;
    margin-left: 10px;
}
.div4 ol{
    list-style-type: none;
}
.div4 li{
    line-height: 50px;
    margin-left: 10px;
}
.div4 a{
    text-decoration: none;
    color: black;
}
.div4 a:hover{
    color: #2CC0C8;
}
.div5{
    width: 100%;
    height: 570px;
    background-color: white;
}
.div5 img{
    width: 90%;
    height: 500px;
    margin-top: 20px;
    margin: 15px;
}
.sign{
    width: 100%;
    height: 150px;
    background-color: white;
}
.sign p{
    line-height: 50px;
    margin-left: 10px;
}
.sign ol{
    list-style-type: none;
}
.sign li{
    line-height: 50px;
    margin-left: 10px;
}
.sign a{
    text-decoration: none;
    color: black;
}
.sign a:hover{
    color: #2CC0C8;
}
.copyright{
    width: 100%;
    height: 60px;
    float: left;
    margin-top: 50px;
    text-align: center;
    color: gray;
}
.copyright>p>a{
    text-decoration: none;
}